<script language="JavaScript">
  Stripe.setPublishableKey("<%= ENV['STRIPE_PUBLISHABLE'] %>")
</script>

<h1><%= t('.sign_up') %></h1>

<%= render 'devise/registrations/form' %>

<%= render 'devise/shared/links' %>
