<div class="navbar bg-white breadcrumb-bar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">FAQ</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>
</div>



<div class="jumbotron">
  <div class="container">
    <h1>FAQ</h1>
  </div>
</div>



<div class="container">
<div class="row justify-content-around mt-3 mt-lg-5">
    <div class="col-xl-3 col-lg-3 mb-4">
      <ul class="nav nav-tabs flex-lg-column">

        <li class="nav-item">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Introduction</a>
        </li>

<li class="nav-item">
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Dashboard</a>
</li>
    <li class="nav-item">
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Passwords</a>
</li>
    <li class="nav-item">
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Teams</a>
</li>

      </ul>
    </div>





  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <article id="-">
          <div>
            <h2 class="display-4">Introduction</h2>
            <span class="lead">
              How to update your project when a new version of Pipeline is released.
            </span>
          </div>
          <hr>
          <div>
            <p>Updates will be released periodically to add new features, provide fixes where necessary and maintain compatibility.</p>
            <p>Most often, the updated files are javascript or CSS and your project should need little adjustment in order to stay up to date.</p>
            <p>The
              <a href="changelog.html">changelog</a>
              is be updated with each release and lists the updated files.</p>
            <p>To bring your project up to date with the latest version of Pipeline, simply download the latest version, unzip the files and replace the old version in your project with the updated version of each Pipeline file.</p>
            <p>Any breaking changes that affect compatibility with older versions of Pipeline will be noted, and further instructions on updating will be provided in the changelog.</p>

          </div>
        </article>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <article id="-">
          <div>
            <h2 class="display-4">Profile</h2>
            <span class="lead">
              How to update your project when a new version of Pipeline is released.
            </span>
          </div>
          <hr>
          <div>
            <p>Updates will be released periodically to add new features, provide fixes where necessary and maintain compatibility.</p>
            <p>Most often, the updated files are javascript or CSS and your project should need little adjustment in order to stay up to date.</p>
            <p>The
              <a href="changelog.html">changelog</a>
              is be updated with each release and lists the updated files.</p>
            <p>To bring your project up to date with the latest version of Pipeline, simply download the latest version, unzip the files and replace the old version in your project with the updated version of each Pipeline file.</p>
            <p>Any breaking changes that affect compatibility with older versions of Pipeline will be noted, and further instructions on updating will be provided in the changelog.</p>
          </div>
        </article>
      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <article id="-">
          <div>
            <h2 class="display-4">Messages</h2>
            <span class="lead">
              How to update your project when a new version of Pipeline is released.
            </span>
          </div>
          <hr>
          <div>
            <p>Updates will be released periodically to add new features, provide fixes where necessary and maintain compatibility.</p>
            <p>Most often, the updated files are javascript or CSS and your project should need little adjustment in order to stay up to date.</p>
            <p>The
              <a href="changelog.html">changelog</a>
              is be updated with each release and lists the updated files.</p>
            <p>To bring your project up to date with the latest version of Pipeline, simply download the latest version, unzip the files and replace the old version in your project with the updated version of each Pipeline file.</p>
            <p>Any breaking changes that affect compatibility with older versions of Pipeline will be noted, and further instructions on updating will be provided in the changelog.</p>
          </div>
        </article>
      </div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
        <article id="-">
          <div>
            <h2 class="display-4">Settings</h2>
            <span class="lead">
              How to update your project when a new version of Pipeline is released.
            </span>
          </div>
          <hr>
          <div>
            <p>Updates will be released periodically to add new features, provide fixes where necessary and maintain compatibility.</p>
            <p>Most often, the updated files are javascript or CSS and your project should need little adjustment in order to stay up to date.</p>
            <p>The
              <a href="changelog.html">changelog</a>
              is be updated with each release and lists the updated files.</p>
            <p>To bring your project up to date with the latest version of Pipeline, simply download the latest version, unzip the files and replace the old version in your project with the updated version of each Pipeline file.</p>
            <p>Any breaking changes that affect compatibility with older versions of Pipeline will be noted, and further instructions on updating will be provided in the changelog.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
