<section>
  <div class="jumbotron">
    <div class="container">
    <h1>Password Locker</h1>
    <p class="lead">Tool for sharing passwords with teams</p>
    <%= link_to 'Sign Up', new_user_registration_path(plan: 'premium'), class: 'btn btn-primary sign-up' %>
    </div>
  </div>
</section>
<section>
  
</section>
