<section>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h6>Password Locker</h6>
          <h2>Secure password management for teams</h2>
          <p class="lead">A simple solution for sharing up to date passwords with your colleagues, contractors and clients without exposing them in instant messengers, inboxes & notepads</p>
          <%= link_to 'Sign Up', new_user_registration_path(plan: 'premium'), class: 'btn btn-primary sign-up' %>
        </div>
      </div>
    </div>
  </div>
</section>
<section>

</section>
